.pricing-card-title-text{
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
}

.pricing-card-content-price{
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
}
.pricing-card-content-duration{
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-blue);
    margin: 0;
    margin-top: -10px;
}

.pricing-card-content-title{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--dark-blue);
    margin: 0;
}
.pricing-card-content-sub-title{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark-blue);
    margin: 0;
}
.pricing-card-icon{
    width: 24px;
    height: 24px;
}

.pricing-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.pricing-card-content-container{
    background-color: var(--pure-white);
    margin-bottom: 20px;
    margin-top: 10px;
    width: 200px;
}

.pricing-card-content-price-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 191px;
}

.pricing-card-content-project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}