.privacy-policy-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding: 30px 20px;
    width: 1200px;
    margin: auto;
}



.privacy-policy-top-menu{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.privacy-policy-top-menu .item{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.privacy-policy-top-menu .item:hover{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: var(--green);
    border-bottom: solid var(--green) 1px;
}

.privacy-policy-top-menu .active{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    color: var(--green);
    border-bottom: solid var(--green) 1px;
}

.rules-page{
    background-color: var(--pure-white);
    padding: 10px 20px;
}

.rules-page h3{
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    white-space: pre-line;
}
.rules-page h4{
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    white-space: pre-line;
}

.rules-page p{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    white-space: pre-line;
}
.rules-page li{
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    white-space: pre-line;
}