.input{
    width: 100%;
    padding: 10px 10px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-: 1px solid va(--gray);
}

.input-label{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}